<h1>New Postcategory</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.postcategory_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.postcategory_path(@conn, :index) %></span>
